/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    resize: none;
}